
/* Media Query */
@media (max-width: 1156px) {
    body,html{
        font-size: 8px;
    }
    .contacttext{
        transform: rotateZ(-6deg);
        font-size: 15rem;
    }
}
@media (max-width: 900px) {
    body,html{
        font-size: 7px;
    }
    nav{
        flex-direction:column;
        zoom: 1.3;
    }
    main{
        height: 530vh;
    }
    .home{
        height: 130vh;
    }
    .about{
        height: 140vh;
    }
    .activites{
        height: 180vh;
    }
    .contacts{
        height: 80vh;
    }
    .home{
        justify-content: center;
        flex-direction: column-reverse;
    }
    .left{
        margin-top: -15rem;
        margin-left: -2rem;
    }
    .right{
        margin-top: 15rem;
    }
    .heading{
        margin-left: 0;
    }
    .activitycardcontainer{
        flex-direction: column;
        margin-top: 35rem;
        gap: 5rem;
    }
    .activitycard{
        zoom: 1.3;
    }
    .cardcontainer{
        flex-direction: column;
        gap: 3rem;   
        z-index: 5;
        margin-top: 5rem;
    }
    .card1,.card2,.card3{
        margin-top: 0;
    }
    .card{
        zoom: 1.4;
    }
    .contacttext{
        transform: rotateZ(-7deg);
        font-size: 11rem;
    }
    .swichcontaier{
        zoom: 1.3;
    }
}
@media (max-width: 433px) {
    body,html{
        font-size: 6px;
    }
    main{
        height: 480vh;
    }
    .home{
        height: 130vh;
        justify-content: space-between;
    }
    .about{
        height: 130vh;
    }
    .activites{
        height: 150vh;
    }
    .contacts{
        height: 70vh;
    }
    .left{
        zoom: .85;
    }
    .contacttext{
        transform: rotateZ(-12deg);
    }
    .backobj1{
        zoom: 1.1;
    }
    .phone{
        zoom: .82 !important;
    }
    .fieldinput{
        width: 20rem;
        font-size: 1.3rem;
    }
}
